/*  Resultados da Busca  */

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

a {
  width: 100%;
  height: auto;
  color: #1b1474;
  background-color: #fff;
  text-align: left;
  padding: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;

  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  grid-column: 1;
  grid-row: 1;
  border-radius: 4px;
}

.card-pro-data {
  grid-column: 2 / -1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-pro-photo {
  display: block;
}

.card-pro-photo-default {
  display: block;
  background-image: url('../assets/pro-portrait-1x1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-occupation-area {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
}

@media (min-width: 1921px) {
  .search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
  }
  .search-results-title {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 1920px) {
  .search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.25rem;
  }
  .search-results-title {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-pro-photo {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search-results {
    font-size: 1rem;
  }
  .card-pro-photo {
    width: 192px;
  }
}

@media (max-width: 510px) {
  .card-pro-data-evaluation {
    flex-wrap: wrap;
    gap: 0.3rem 0;
  }
}

@media (max-width: 480px) {
  .search-results {
    font-size: 0.9rem;
  }
  .card-pro-photo {
    width: 130px;
  }
  .card-pro-data {
    gap: 0.3rem;
  }
  .card-pro-data-evaluation {
    flex-wrap: wrap;
    gap: 0.3rem 0;
  }
  .card {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;

    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 430px) {
  .search-results {
    font-size: 0.8rem;
  }
}

.card-pro-data-evaluation {
  display: flex;
}

.card-pro-data-evaluation span {
  display: inline-block;
}

.card-pro-data-evaluation::before {
  content: "";
}

.card-pro-data-min-value {
  display: block;
}

.card-pro-data-address {
  display: grid;
}

/* .checked {
  color: orange;
} */

#evaluationText {
  margin-left: 4px;
}

#cardCity {
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  display: inline-block;
  border: none;
  margin-right: 4px;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px 2px;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffd700;
}

/* // ***** NEW STARS ***** // */
.barra {
  float: left;
  width: 95px;
  height: 16px;
  background: none;
  margin-right: 5px;
}

.bg {
  float: left;
  height: 20px;
  background: linear-gradient(
    90deg,
    #f56700 var(--percent),
    #8e8e8e var(--percent)
  );
}

.estrelas {
  display: contents;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#stella {
  --percent: 90%;
}

.star {
  background: none;
  display: inline-block;
  font-size: 16px;
  font-family: FontAwesome;
  line-height: 1;
  /* --percent: 90%; */
}

.star::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  letter-spacing: 4px;
  background: linear-gradient(
    90deg,
    #f56700 var(--percent),
    #8e8e8e var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* // ***** END NEW STARS ***** // */
